@import "bourbon/bourbon";
@import "grid_settings";
@import "neat/neat";

footer{
  @include outer-container;

  .colophon {
    margin-top: 1.5em;
    @include span-columns(12);
    .sit-kmutt{
      margin-top: 1em;
      @include span-columns(3.5 of 12);
    }
    .nav-colophon-1{
      @include span-columns(2.5 of 12);
      line-height: 30px;
      li a{
        color: #C9C7C7;
      }
    }
    .nav-colophon-2{
      @include span-columns(2.5 of 12);
      line-height: 30px;
      li a{
        color: #C9C7C7;
      }
    }
    .nav-colophon-3{
      @include span-columns(3.5 of 12);
      p {
        color: #C9C7C7;
        line-height: 30px;
      }
    }
  }
}
