@import "bourbon/bourbon";
@import "grid_settings";
@import "neat/neat";


.collaboration {
    background-color: white;
    max-width: 100%;

  .wrapper-collaboration {
    @include outer-container;

    .logo_collaboration {
      @include span-columns(12);

    }
  }
}


footer{
  @include outer-container;

  .colophon {
    margin-top: 0.5em;
    @include span-columns(12);

    .sit-kmutt{
      margin-top: 1.5em;
      @include span-columns(4 of 12);

      p {
        font: normal 1em/1em "Open Sans", Verdana, Geneva, sans-serif, sans-serif;
        margin-top: 1em;
        font-size: 0.8em;
        font-weight: 300;
      }

      img {
        width: 40%;
      }
    }

    .nav-colophon-1{
      @include span-columns(3 of 12);
      border-left: 1.5px solid #D6D6D6;
      margin-top: 0.5em;
      padding-left: 1em;

      li {
        margin-right: 2em;
        margin-bottom: 1em;

        a{
          font-size: 0.8em;
          font-weight: 300;
          color: #717171;
        }

        a:hover {
          color: black;
        }
      }
    }

    .nav-colophon-2{
      @include span-columns(3 of 12);
      border-left: 1.5px solid #D6D6D6;
      margin-top: 0.5em;
      padding-left: 1em;

      li {
        margin-right: 2em;
        margin-bottom: 1em;

        a{
          font-size: 0.8em;
          font-weight: 300;
          color: #717171;
        }

        a:hover {
          color: black;
        }
      }
    }

    .nav-colophon-3{
      @include span-columns(2 of 12);
      border-left: 1.5px solid #D6D6D6;
      margin-top: 0.5em;
      padding-left: 1em;

      li {
        margin-right: 2em;
        margin-bottom: 1em;

        a{
          font-size: 0.8em;
          font-weight: 300;
          color: #717171;
        }

        a:hover {
          color: black;
        }
      }
    }

  }
}
