## mako
<%!
from django.core.urlresolvers import reverse
from django.utils.translation import ugettext as _
%>
<%namespace name='static' file='/static_content.html'/>
<link rel="stylesheet" href="${static.url('themes/edx-theme/css/vendor/sit-identity.css')}">
<%! from datetime import datetime %>
<%! from pytz import UTC %>

<div class="wrapper-footer">
  <footer>
    <div class="colophon">
      <div class="sit-kmutt">
        <img src="${static.url('themes/edx-theme/images/sit_kmutt_logo.png')}" alt="SIT KMUTT">
        <p>
          © 2015 SIT ACADEMY, All rights reserved
        </p>
      </div>
      <nav class="nav-colophon-1">
        <ol>
          <li>${_("Follow Us")}</li>
          <li><a href="${reverse('tos')}">Facebook</a></li>
          <li><a href="${reverse('tos')}">Twitter</a></li>
          <li><a href="${reverse('tos')}">Google+</a></li>
        </ol>
      </nav>
      <nav class="nav-colophon-2">
        <ol>
          <li>${_("About SIT ACADEMY")}</li>
          <li><a href="${reverse('about')}">${_("About Us")}</a></li>
          <li><a href="${reverse('contact')}">${_("Contact Us")}</a></li>
          <li><a href="${reverse('faq')}">${_("FAQs")}</a></li>
        </ol>
      </nav>
      <nav class="nav-colophon-3">
        <ol>
          <li>${_("Legal Notice")}</li>
          <li><a href="${reverse('honor')}">${_("Code of Honor")}</a></li>
          <li><a href="${reverse('tos')}">${_("Terms of Service")}</a></li>
          <li><a href="${reverse('privacy')}">${_("Privacy Policy")}</a></li>
        </ol>
      </nav>
    </div>
  </footer>
</div>
