## mako
<%! from django.core.urlresolvers import reverse %>
<%namespace name='static' file='/static_content.html'/>
<link rel="stylesheet" href="${static.url('themes/edx-theme/css/vendor/sit-identity.css')}">
<%! from datetime import datetime %>
<%! from pytz import UTC %>

<div class="wrapper-footer">
  <footer>
    <div class="colophon">
      <div class="sit-kmutt">
        <img src="${static.url('themes/edx-theme/images/sit_kmutt_logo.png')}" alt="SIT KMUTT">
        <p>
          © 2015 SIT ACADEMY, All rights reserved
        </p>
      </div>
      <nav class="nav-colophon-1">
        <ol>
          <li>Follow Us</li>
          <li><a href="${reverse('tos')}">Facebook</a></li>
          <li><a href="${reverse('tos')}">Twitter</a></li>
          <li><a href="${reverse('tos')}">Google+</a></li>
        </ol>
      </nav>
      <nav class="nav-colophon-2">
        <ol>
          <li>About SIT ACADEMY</li>
          <li><a href="${reverse('tos')}">About Us</a></li>
          <li><a href="${reverse('tos')}">Contact Us</a></li>
          <li><a href="${reverse('tos')}">FAQs</a></li>
        </ol>
      </nav>
      <nav class="nav-colophon-3">
        <ol>
          <li>Legal Notice</li>
          <li><a href="${reverse('tos')}">Code of Honor</a></li>
          <li><a href="${reverse('tos')}">Terms of Service</a></li>
          <li><a href="${reverse('tos')}">Privacy Policy</a></li>
        </ol>
      </nav>
    </div>
  </footer>
</div>
