## mako
<%! from django.core.urlresolvers import reverse %>
<%namespace name='static' file='/static_content.html'/>
<link rel="stylesheet" href="${static.url('themes/edx-theme/css/vendor/sit-identity.css')}">
<%! from datetime import datetime %>
<%! from pytz import UTC %>

<div class="wrapper-footer">
  <footer>
    <div class="colophon">
      <div class="sit-kmutt">
        <img src="${static.url('themes/edx-theme/images/sit_kmutt_logo.png')}" alt="SIT KMUTT">
      </div>
      <nav class="nav-colophon-1">
        <ol>
          <li><a href="${reverse('tos')}">Student</a></li>
          <li><a href="${reverse('tos')}#privacy">Staff</a></li>
          <li><a href="${reverse('tos')}#honor">Instructor</a></li>
        </ol>
      </nav>
      <nav class="nav-colophon-2">
        <ol>
          <li><a href="${reverse('tos')}">About</a></li>
          <li><a href="${reverse('tos')}#privacy">Contact Us</a></li>
          <li><a href="${reverse('tos')}#honor">FAQ</a></li>
          <li><a href="${reverse('tos')}#honor">Term and Service</a></li>
        </ol>
      </nav>
      <nav class="nav-colophon-3">
        <p>
          School of Information Technology,
          126 Pracha Uthit Rd., Bang Mod, Thung Khru, Bangkok, Thailand 10140
          Tel. +66 2470 9850
        </p>
      </nav>
    </div>
  </footer>
</div>
